.content {
  display: flex;
  flex-direction: column;
}

.projects {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 28px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 20px;
}
.mainImg {
  width: 100%;
  height: 750px;
  background-color: blanchedalmond;
}

.textField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.titleField {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.title {
  font-size: 32pt;
}
.subtitle {
  font-size: 24pt;
}
.subField {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.period {
  display: flex;
  font-size: 12pt;
  gap: 8px;
}
.description {
  display: flex;
  font-size: 12pt;
  gap: 8px;
  text-align: left;
}
.label {
  margin: 0;
}
.text {
  margin: 0;
}

.detail {
  width: 100%;
  display: flex;
}
