.list {
  display: flex;
  width: 100%;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  border-bottom: #b0b0bd 0.5px solid;
  text-decoration: none;
  color: inherit;
}

.textField {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.title {
  margin: 0;
  font-size: 16pt;
}
.date {
  margin: 0;
  font-size: 12pt;
}

.iconField {
}
