.cardField {
  width: 100%;
  margin-bottom: 32px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}
.cardField:hover .imgField img {
  transform: scale(1.05);
}

.sm {
  width: 40%;
}
.mid {
  width: 58%;
}
.lg {
  width: 100%;
}

.imgField {
  height: 350px;
  background-color: aliceblue;
  overflow: hidden;
}

.textField {
  width: fit-content;
  margin-top: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16pt;
  margin: 0;
}

.year {
  font-size: 12pt;
  margin: 0;
}

.textCard {
  display: flex;
}
.content {
}
.titleField {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.period {
  font-size: 12pt;
  margin: 0;
  color: #454549;
}
.text {
  text-align: left;
  padding: 0 0 0 20px;
  line-height: 20pt;
  margin: 20px 0 0 0;
}

.nextBtn {
  background-color: white;
  border: none;
}
