.App {
  text-align: center;
  padding: 0px 100px 0px 100px;
}
.dark {
  background-color: #101011;
  background-image: url("./assets/Road.png"); /* 질감 이미지 */
  background-size: cover; /* 필요에 따라 contain/fixed 가능 */
  background-repeat: repeat;
  background-blend-mode: difference; /* or overlay, soft-light 등 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
